/* XL Device :1200px. */
@media (min-width: 1200px) and (max-width: 1500px) {
  .container {
	  max-width: 1250px;
  }

}

/* LG Device :992px. */
@media (min-width: 992px) and (max-width: 1200px) {
  .main-menu ul li {
	  margin-right: 30px;
  }
  /* Slider Section */
  .slider-area .mb-200{
    margin-bottom: 100px;
  }
  .slider-area .mb-100{
    margin-bottom: 30px;
  }
  .slider-area .pb-200{
    padding-bottom: 150px;
  }
  .carousel-control-prev,
  .carousel-control-next{
    width: 10%;
  }
  .carousel-caption.carousel-modify{
    left: 10%;
  }



}


/* MD Device :768px. */
@media (min-width: 768px) and (max-width: 991px) {
  .main-menu ul li {
	  margin-right: 45px;
  }
  /* Mega Menu */
  .main-menu ul li:hover > .mega-menu {
	  height: 650px;
  }
  /* Slider Section */
  .slider-area .mb-200{
    margin-bottom: 80px;
  }
  .slider-area .mb-100{
    margin-bottom: 10px;
  }
  .slider-area .pb-200{
    padding-bottom: 100px;
  }
  .slider-area .carousel-caption h3 {
	  font-size: 20px;
  }
  .slider-area .carousel-caption a{
    padding: 0;
  }
  /* Baner Section */
  .baner-content h2{
    font-size: 30px;
  }
  .baner-content h4{
    font-size: 20px;
  }
  .baner-content{
    left: 50px;
  }



}


/* Extra small Device. */
@media (max-width: 767px) {
  body{
    font-size: 12px;
  }
  /* Header Section */
  .main-menu{
    display: none;
  }
  .mean-container .mean-nav ul li a.mean-expand {
    height: 18px;
  }
  .header-right{
    text-align: center;
  }
  /* Cart Section */
  .header-right ul li ul.cart {
    width: 100%;
  }
  /* Search Form */
  .header-right ul li .search-form{
    width: 100%;
  }
  /* Slider Section */
  .slider-area .mb-200{
    margin-bottom: 20px;
  }
  .slider-area .mb-100{
    margin-bottom: 0;
  }
  .slider-area .pb-200{
    padding-bottom: 50px;
  }
  .carousel-control-prev,
  .carousel-control-next{
    display: none;
  }
  .carousel-caption.carousel-modify{
    left: 5%;
  }
  .carousel-caption p{
    display: none;
  }
  .slider-area .carousel-caption h3 {
	  font-size: 16px;
  }
  .slider-area .carousel-caption a{
    font-size: 12px;
    padding: 0;
  }
  .carousel-indicators{
    bottom: -35px;
  }
  /* Product Section */
  .product-tab ul li{
    margin-bottom: 30px;
  }
  .owl-nav button{
    top: -50px;
  }
  .product-tab ul li a{
    font-size: 14px;
  }
  .product-action > a{
    font-size: 14px;
    padding: 10px 0;
  }
  .product-action{
    padding: 10px 0;
  }
  .product-content a{
    font-size: 12px;
  }
  /* Subscribe Section */
  .subscribe-wrapper {
	  padding: 0 15px;
  }
  .subscribe-form input{
    width: 100%;
  }
  .subscribe-form button{
    float: none;
    width: 50%;
    margin-top: 15px;
  }
  /* Baner Section */
  .baner-content{
    left: 25px;
  }
  .baner-content h2{
    font-size: 20px;
  }
  .baner-content h4{
    display: none;
  }
  .baner-content a{
    margin: 0;
  }
  footer{
    text-align: center;
  }
  .footer-icon {
	  text-align: center;
  }
  /* Scroll Up */
  #scrollUp{
    bottom: 132px;
  }

}

/* SM Small Device :550px. */
@media only screen and (min-width: 576px) and (max-width: 767px) {
  /* Slider Section */
  .slider-area .mb-200{
    margin-bottom: 50px;
  }
  .slider-area .mb-100{
    margin-bottom: 0;
  }
  .slider-area .pb-200{
    padding-bottom: 80px;
  }

}
